* {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

:root {
  --soft-blue: hsl(231, 69%, 60%);      /* Primary */
  --soft-red: hsl(0, 94%, 66%);        /* Primary */
  --grayish-blue: hsl(229, 8%, 60%);    /* Neutral */
  --very-dark-blue: hsl(229, 31%, 21%);   /* Neutral */
}

body {
  background: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}


/* Header */ 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 24px; 
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
}


/* Section 1 */ 
.main {
  display: flex;
}


/* Tabs Section */ 
.tab-content { /* add the bg shape behind the tab img here*/
  display: flex;
}


/* Cards Section */ 
.card {
  background: lightblue;
  width: 250px;
  height: 350px;
  border: 1px solid black;
}

.card-group {
  display: flex;
}


.card-bottom {
  border: 10px solid transparent;
  border-image: url(../images/bg-dots.svg) 9 round; 
  border-image-outset: 10px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}


/* FAQ Section */ 


/* Form Section */
.form {
  background: var(--soft-blue);
  color: white;
} 

.inline {
  display: inline;
}

.submit {
  background: var(--soft-red);
  color: white;
  border: none;
}


/* Footer */ 
footer {
  background: var(--very-dark-blue);
  color: white;
  display: flex;
  align-items: center;
}

footer > svg > g > path {
  fill: white;
}

footer p, footer svg {
  float: left; 
}

.sm-icons {
  margin-left: auto; /* right align the social media icons */ 
}

