/* General Styles */ 
* {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

:root {
  --soft-blue: hsl(231, 69%, 60%);      /* Primary */
  --soft-red: hsl(0, 94%, 66%);        /* Primary */
  --grayish-blue: hsl(229, 8%, 60%);    /* Neutral */
  --very-dark-blue: hsl(229, 31%, 21%);   /* Neutral */
  --arrow-blue: #5267DF;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-weight: 500;
  color: var(--very-dark-blue); 
  font-size: 32px;
  margin: 20px 0;
}

h2 {
  color: var(--very-dark-blue);
  font-weight: 500;
  font-size: 22px;
}

p {
  color: var(--grayish-blue);
  line-height: 1.6;
}

button {
  border-radius: 5px;
  font-size: 14px;
  padding: 12px 26px;
  color: white;
  background: var(--soft-blue);
  font-weight: 500;
  border: 2px solid var(--soft-blue);
}

.bg-shape {
  position: absolute;
  background: var(--soft-blue); 
  height: 350px;
  z-index: -1;
}

.bg-shape1 {
  right: -100px;
  bottom: 0;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  width: 510px;
}

.bg-shape2 {
  left: -150px;
  bottom: -80px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  width: 630px;
}



/* Header */ 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 170px;
  margin-bottom: 55px;
}

header img {
  height: 24px; 
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
  margin-left: 40px;
  color: var(--very-dark-blue);
}

.login-btn {
  background: var(--soft-red);
  color: white;
  padding: 10px 30px;
  font-weight: 400;
  border: 2px solid var(--soft-red);
}

header li, .login-btn {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}



/* Section 1 */ 
.main {
  display: flex;
  margin-left: 170px;
  margin-right: 100px;
  position: relative;
  justify-content: space-between;
  padding-bottom: 30px;
}

.main-text {
  text-align: left;
  width: 500px;
  /*margin-right: auto;*/
  margin-top: 65px;
}

.main-text h1 {
  font-size: 48px;
  line-height: 1.1;
}

.main img {
  width: 657px;
  margin-right: -50px;
}

.main button {
  margin-right: 15px;
  margin-top: 20px;
}

.firefox-btn {
  color: var(--very-dark-blue);
  background: #f4f4f4;
  border: 2px solid #f4f4f4; 
}

.chrome-btn {

}



/* Tabs Section */ 
.tabs {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs > p {
  width: 550px;
  margin: 5px 0 30px 0;
}

.tabs-nav {
  list-style-type: none;
  border-bottom: 1px solid var(--grayish-blue);
  padding: 25px 0;
  margin-bottom: 70px;
}

.tabs-nav li {
  display: inline;
  color: var(--grayish-blue);
  padding: 22px 40px;
  font-weight: 500;
}
.tabs-nav li:last-child {
  padding: 22px 65px;
}
.active {
  color: var(--very-dark-blue) !important;
  border-bottom: 3px solid var(--soft-red);
}

.tab-content { /* add the bg shape behind the tab img here*/
  display: flex;
  justify-content: space-between;
  text-align: left;
  /*margin-left: 170px;*/ 
  /*margin-right: 120px;*/
  /*width: calc(100vw - 300px);*/
  position: relative;
  gap: 150px; /*125px*/ 
}

.img-container {
  width: 536px;
  text-align: right;
}

.tab-text {
  width: 450px;
  margin-top: 40px;
}

.tab-text p {
  margin: 22px 0 33px 0; 
}

.tab-image {
  margin-right: auto;
}

#tab2 {
  display: none;
}

#tab3 {
  display: none;
}



/* Cards Section */ 
.cards {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards > p {
  width: 560px;
  margin-top: 0;
  margin-bottom: 48px;
}

.card-group {
  display: flex;
  gap: 35px;
}

.card {
  background: white;
  width: 270px;
  height: 320px;
  border-radius: 10px;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;*/
  padding-top: 50px;
  position: relative;
  box-shadow: 0 6px 8px 0 rgba(83, 104, 223, 0.2);
}

.card2 {
  margin-top: 35px;
}

.card3 {
  margin-top: 70px;
}
/*
.browser-img {
  width: 100px;
}*/

.card-bottom {
  border-width: 10px;
  border-style: solid;
  border-image: url(../images/bg-dots.svg); 
  border-image-repeat: round;
  border-image-width: 4px 0 0 0;
  border-image-slice: 9;
  border-image-outset: 15px;

  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0%);
  /*width: 250px;
  height: 45px;*/
}

.card-bottom button {
  width: 227px;
}

.card p {
  font-size: 16px;
  margin: 5px 0 20px 0;
}

.card h2 {
  margin: 23px 0 0 0;
}



/* FAQ Section */ 
.faq {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 155px;
}

.faq > p {
  width: 500px;
  margin-top: 0;
}

.questions {
  width: 550px;
  margin: 40px 0 50px 10px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid LightGray;
  height: 67px;
}

.question4 .question {
  border-bottom: 1px solid LightGray;
}

.question p {
  color: var(--very-dark-blue);
}

.arrow {
  margin-right: 30px;
}

.arrow path {
  stroke: var(--arrow-blue); 
}



/* Form Section */
.form {
  background: var(--soft-blue);
  padding: 55px 0 80px 0;
}

.form p, .form h1 {
  color: white;
}

.form h1 {
  width: 450px;
  margin: 30px auto 40px auto;
}

.form > p {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 13px;
}

.inline {
  display: flex;
  justify-content: center;
}

.submit {
  background: var(--soft-red);
  margin-left: 20px;
  border: 2px solid var(--soft-red);
  height: 45px;
}

::placeholder {
  opacity: 0.5;
}

.answer { /* NEED TO EDIT WIDTHS OF THIS P */ 
  display: none; 
  text-align: left;
  margin-bottom: 30px;
}

#email {
  height: 41px;
  border-radius: 5px;
  border: 2px solid var(--soft-blue);
  font-size: 14px;
  padding: 0 0 0 20px;
  width: 270px;
}

.email-container {
  width: 294px;
  height: 68px;
  background: var(--soft-blue);
  border-radius: 5px;
}

.error-msg {
  font-style: italic;
  font-size: 9px;
  margin: 4px 10px;
  text-align: left;
  letter-spacing: 0.8px;
  display: none;
}

.error-icon {
  color: var(--soft-red);
  position: relative; 
  display: none;
}

.error-icon i {
  position: absolute;
  right: 15px;
  bottom: 13px;
  font-size: 1.1em;
}




/* Footer */ 
footer {
  background: var(--very-dark-blue);
  color: white;
  display: flex;
  align-items: center;
  padding: 22px 165px;
}

footer > svg > g > path {
  fill: white;
}

footer p, footer svg {
  float: left; 
}

footer p {
  color: white;
  text-transform: uppercase;
  margin-left: 45px;
  font-size: 12px;
  letter-spacing: 2px;
}

footer svg {
  margin-right: 20px;
}

.sm-icons {
  margin-left: auto; /* right align the social media icons */ 
  height: 24px;
}

.fb-icon {
  margin-right: 35px;
}

.tw-icon {
  margin-bottom: 2px;
}


/* Active States */ 
button:hover, .tabs-nav li:hover, .questions > div:hover, header ul li, footer p, footer img {
  cursor: pointer;
}

header ul li:hover, .tabs-nav li:hover {
  color: var(--soft-red);
}

.login-btn:hover {
  background: white;
  color: var(--soft-red);
  font-weight: 500;
  letter-spacing: 1.8px;
}

.chrome-btn:hover, .tab-text button:hover, .card-bottom button:hover, .faq button:hover {
  background: white;
  color: var(--soft-blue);
}

.firefox-btn:hover { /* need to change these colors, looks like a custom color to me */ 
  border: 2px solid var(--soft-red);
  color: var(--soft-red);
}

.question:hover p {
  color: var(--soft-red);
}

.submit:hover {
  background: white;
  color: var(--soft-red);
}

#email:focus {
  border: 2px solid var(--soft-red);
  outline: none;
}

footer p:hover {
  color: var(--soft-red);
}

.sm-icons img:hover {
  filter: invert(44%) sepia(66%) saturate(655%) hue-rotate(315deg) brightness(101%) contrast(96%); /* cba to change img to svg so just using a hex to filter generator in the internet to get the color. Which is fine for project work. */
}


/* Media Queries */ 




/* 
if the screen gets wider, I want the tabbed content to maintain gap width, and just extend the outer sides white space (this also means my bg blue img div will be cut off) 
so maybe create a container around tab images, put it to a fixed with so tab-text stays in the same place in each tab (since each image is a different size and we want to put tab-text margin-left: 100px or something like that. 

*/ 

/* To Do 
- JS: tabs js 
- JS: faq js: 
    display text 
    + rotate arrow 180deg, change color to soft-red- when active.
- JS: email/form validation js 

- in readme, specify the widths (desktop: 1440px, mobile: ..., tab... )

*/
/* 
  error-msg -> display: block; 
  error-icon class -> display: block; 
  .email-container bg to red on error state. 
*/
