/* General Styles */ 
* {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

:root {
  --soft-blue: hsl(231, 69%, 60%);      /* Primary */
  --soft-red: hsl(0, 94%, 66%);        /* Primary */
  --grayish-blue: hsl(229, 8%, 60%);    /* Neutral */
  --very-dark-blue: hsl(229, 31%, 21%);   /* Neutral */
}

body {
  background: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-weight: 500;
  color: var(--very-dark-blue); 
  font-size: 32px;
  margin: 20px 0;
}

h2 {
  color: var(--very-dark-blue);
  font-weight: 500;
  font-size: 22px;
}

p {
  color: var(--grayish-blue);
  line-height: 1.6;
}

button {
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 14px 28px;
  color: white;
  background: var(--soft-blue);
  font-weight: 500;
}



/* Header */ 
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 170px;
  margin-bottom: 55px;
}

header img {
  height: 24px; 
}

header ul {
  list-style-type: none;
}

header li {
  display: inline;
  margin-left: 40px;
  color: var(--very-dark-blue);
}

.login-btn {
  background: var(--soft-red);
  color: white;
  padding: 14px 34px;
  font-weight: 400;
}

header li, .login-btn {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
}



/* Section 1 */ 
.main {
  display: flex;
  margin-left: 170px;
  margin-right: 50px;
  position: relative;
  justify-content: space-between;
  padding-bottom: 30px;
}

.main-text {
  text-align: left;
  width: 500px;
  margin-right: auto;
  margin-top: 65px;
}

.main-text h1 {
  font-size: 48px;
  line-height: 1.1;
}

.main img {
  width: 657px;
}

.main button {
  margin-right: 15px;
  margin-top: 20px;
}

.custom-btn {
  color: var(--very-dark-blue);
  background: #f4f4f4;
}



/* Tabs Section */ 
.tabs {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs > p {
  width: 550px;
  margin: 5px 0 30px 0;
}

.tabs-nav {
  list-style-type: none;
  border-bottom: 1px solid var(--grayish-blue);
  padding: 25px 0;
  margin-bottom: 70px;
}

.tabs-nav li {
  display: inline;
  color: var(--grayish-blue);
  padding: 22px 40px;
  font-weight: 500;
}
.tabs-nav li:last-child {
  padding: 22px 65px;
}
.active {
  color: var(--very-dark-blue) !important;
  border-bottom: 3px solid var(--soft-red);
}

.tab-content { /* add the bg shape behind the tab img here*/
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-left: 170px;
  margin-right: 120px;
  width: calc(100vw - 300px);
  position: relative;
}

.tab-text {
  width: 450px;
}

.tab-image {
  margin-right: auto;
}



/* Cards Section */ 
.card {
  background: lightblue;
  width: 250px;
  height: 350px;
  border: 1px solid black;
}

.card-group {
  display: flex;
}


.card-bottom {
  border: 10px solid transparent;
  border-image: url(../images/bg-dots.svg) 9 round; 
  border-image-outset: 10px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.card p {
  font-size: 16px;
}

/* FAQ Section */ 



/* Form Section */
.form {
  background: var(--soft-blue);
  color: white;
} 

.inline {
  display: inline;
}

.submit {
  background: var(--soft-red);
  color: white;
  border: none;
}



/* Footer */ 
footer {
  background: var(--very-dark-blue);
  color: white;
  display: flex;
  align-items: center;
}

footer > svg > g > path {
  fill: white;
}

footer p, footer svg {
  float: left; 
}

.sm-icons {
  margin-left: auto; /* right align the social media icons */ 
}




/* 
if the screen gets wider, I want the tabbed content to maintain gap width, and just extend the outer sides white space (this also means my bg blue img div will be cut off) 
so maybe create a container around tab images, put it to a fixed with so tab-text stays in the same place in each tab (since each image is a different size and we want to put tab-text margin-left: 100px or something like that. 

*/ 